@import 'partials/colours';
@import 'partials/sizings';
@import 'partials/fonts';
@import 'partials/media';

body{
    max-width: 1330px;
    margin:auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: $dark;
    color: $off-white;
}
html{
    scroll-behavior: smooth;
    @media screen and (min-width: 1200px){
        scroll-snap-type: y proximity;
    }
}

.wrapper{
    max-width: 1080px;
    margin: auto;
}

.page-header{
    font-family: 'futuramedium';
    text-align: center;
    padding: 50px 0 20px 0;
    @media screen and (max-width: 768px){
        padding: 50px 0 20px 0;
    }
    &.underline{
        &:after{
            content: '';
            border-bottom: 2px solid $primary;
            width: 250px;
            height: 10px;
            position: relative;
            left: calc(50% - 125px);
            display: block;
        }
    }
    
}

h2.header-sub{
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
}
.header-sub{
    text-align: center;
    font-family: 'futuramedium';


    p{
        font-size: 1.2rem;
        margin: 20px auto;
        text-align: justify;
        padding: 0 3%;
    }
}

.contact-container{
    max-width: 1330px;
    margin: 50px auto;

    div{
        text-align: center;
        margin-top: 15px;
    }

    
}

.contact-btn{
    padding: 7px 0px;
    border: 1px solid $secondary;
    border-radius: 100px;
    width: 100%;
    display: inline-block;
    background-color: $primary;
    color: $off-white;
    transition: all 0.3s;
    font-family: 'futuramedium';
    font-size: 1rem;
    text-align:center;

    &:hover{
        color: $off-white;
        text-decoration: none;
        background-color: lighten($primary, 10);
        box-shadow: 1px 1px 6px #121212;
    }
}

section{
    min-height: 100vh;
    width: 100%;
    -webkit-scroll-snap-coordinate: 0% 0%;
    scroll-snap-coordinate: 0% 0%;
    scroll-snap-align: start;

    &.light{

        background-color: $secondary;
        color: $off-white;
    }
}

.scroll-link{
    text-align: center;
    &:after{
        content: '<';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform:rotate(270deg);

    }
}

.container-fluid{
    padding: 0;
    margin: auto;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
}

.row{
    padding: 0;
    margin: 0;
}

.me-container{
    width: 250px;
    margin: 20px auto;
    img{
        width: 100%;
        height: auto;
    }
}

.chevron{
    &:before{
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        content: '';
        display: inline-block;
        height: 1em;
        width: 1em;
        left: 50%;
        position: absolute;
        bottom: 25px;
        transform: rotate(135deg);
        vertical-align: baseline;
        border-color: $off-white;
    }
}

.progress{
    height: 30px;
    margin: 10px 0;
    background-color: #e9ecef;
    .progress-bar{
        margin: 0;
        background-color: $primary;
        color: $off-white;
        font-size: 1rem;
        font-family: 'futuramedium';
        &.ruby{
            width: 100%;
        }
        &.cs{
            width: 100%;
        }
        &.html{
            width: 95%;
        }
        &.js{
            width: 80%;
        }
        &.php{
            width: 60%;
        }
    }
}



//cards

.packages-container{
    .card-text{
        height: 17em;
        font-size: 1.2rem;
        font-family: 'futuramedium';
    }
}

.services-container{
    .card-text{
        height: 10em;
        font-size: 1.2rem;
        font-family: 'futuramedium';
    }
}
.card{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $secondary;

    .card-title{
        //Should always be 2 lines high unless titles get long
        height: 2.8rem;
        font-size: 1.4rem;
        text-align: center;
    }

    &.dark{
        background-color: $dark;
        color: $off-white;
    }

    

    .card-text{
        li{
            list-style: none;
            &.y{
                &:before{
                    content: '';
                    display: inline-block;
                    height: 11px;
                    width: 20px;
                    border-left: 3px solid green;
                    border-bottom: 3px solid green;
                    transform: rotate(315deg);
                    margin-right: 5px;
                }
            }

            &.n{
                &:before{
                    content: 'X';
                    font-family: 'futuramedium';
                    color: $primary;
                    display: inline-block;
                    height: 20px;
                    width: 20px;
                    margin-right: 5px;
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
    }
}