@import 'partials/colours';
@import 'partials/sizings';
@import 'partials/fonts';
@import 'partials/media';

body{
    max-width: 1330px;
    margin:auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: $dark;
    color: $off-white;
    -webkit-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}
html{
    scroll-behavior: smooth;
    -webkit-scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
}

.page-header{
    font-family: 'futuramedium';
    text-align: center;
    padding: 200px 0 20px 0;
    @media screen and (max-width: 768px){
        padding: 100px 0 20px 0;
    }
}

.header-sub{
    text-align: center;
    font-family: 'futuramedium'
}

.contact-container{
    max-width: 1330px;
    margin: 50px auto;

    div{
        text-align: center;
        margin-top: 15px;
    }

    .contact-btn{
        padding: 10px 20px;
        border: 1px solid $secondary;
        border-radius: 100px;
        width: 250px;
        display: inline-block;
        background-color: $primary;
        color: $secondary;
        transition: all 0.3s;
        font-family: 'futuramedium';

        &:hover{
            color: #fff;
            text-decoration: none;
            background-color: lighten($primary, 10);
            box-shadow: 1px 1px 6px #121212;
        }
    }
}

section{
    min-height: 100vh;
    width: 100vw;
    -webkit-scroll-snap-coordinate: 0% 0%;
    scroll-snap-coordinate: 0% 0%;
    scroll-snap-align: start;

    &.light{

        background-color: $secondary;
        color: $primary;
    }
}

.scroll-link{
    text-align: center;
    &:after{
        content: '<';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform:rotate(270deg);

    }
}

.container-fluid{
    padding: 0;
    margin: auto;
}

.row{
    padding: 0;
    margin: 0;
}

.me-container{
    width: 150px;
    margin: 20px auto;
    img{
        width: 100%;
        height: auto;
    }
}

.chevron{
    &:before{
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        content: '';
        display: inline-block;
        height: 1em;
        width: 1em;
        left: 50%;
        position: absolute;
        bottom: 25px;
        transform: rotate(135deg);
        vertical-align: baseline;
        border-color: $off-white;
    }
}