@import 'partials/colours';
@import 'partials/sizings';
@import 'partials/fonts';
@import 'partials/media';

body{
    max-width: 1330px;
    margin:auto;
    scroll-behavior: smooth;
    overflow-x: hidden;    
}
html{
    scroll-behavior: smooth;
}

.page-header{
    font-family: 'futuramedium';
    text-align: center;
    padding: 200px 0 100px 0;
}

.header-sub{
    text-align: center;
    font-family: 'futuramedium'
}

.contact-container{
    max-width: 1330px;
    margin: 50px auto;

    div{
        text-align: center;
        margin-top: 25px;
    }

    .contact-btn{
        padding: 10px 20px;
        border: 1px solid #121212;
        border-radius: 100px;
        margin-top: 20px;
        width: 250px;
    }
}