/* blues
$primary: rgb(0, 42, 71);
$secondary: rgb(0, 155, 205);
$dark: #00171F;
$off-white: rgb(167, 137, 94);
*/

$primary: rgb(174, 3, 33);
$secondary: rgb(70, 80, 98);
$dark: rgb(34, 36, 53);
$off-white: rgb(211, 223, 228);